upstream web{
  {% for host in groups['web'] %}
server {{ hostvars[host]['ansible_host'] }}:{{ hostvars[host]['nginx_port'] }} max_fails={{ hostvars[host]['count_fails'] }} fail_timeout={{ hostvars[host]['timeout'] }}s;
  {% endfor %}

}

server {
  listen {{ nginx_port }};
  listen [::]:{{ nginx_port }};

  root /var/www/html;
  index index.html index.htm index.nginx-debian.html;
  server_name _;

  location / {
    include proxy_params;
          
    proxy_pass http://web;
          
    proxy_redirect off;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
  }
}

